// Colors
$grey: #333333;

// Navigation Colors
$nav-background : $grey;
$menuTextColor: white;
$authorTextColor: #f4e533;

/*Clock Colors*/
$clockTextColor: white;
$clockBGColor: #b5d0e2;
$clockBorderColor: darken($clockBGColor, 10);
