.clock {
    background-color: $clockBGColor;
    border: 2px solid $clockBorderColor;
    align-items: center;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    justify-content: center;
    margin: 4rem auto;
    display: flex;
}

.clock-text {
    color: $clockTextColor;
    font-size: 2.25rem;
    font-weight: 300;
}